<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: black;
        }
        #h1_text1{
            text-align: center;
            color: white;
        }
        a{
            text-align: center;
            color: white;
            text-decoration: none;
            margin-left: 710px;
        }
        img{
            margin-left: 690px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 id="h1_text1">Hello world!</h1>
        <img class="row-5-lg" src="http://sun9-44.userapi.com/s/v1/ig2/7emxmSE2nNnwZTQEOe80GDoXFdCbL4SguUUhB5rKChSHpRmVV9tEhewqYLs4yjKpYvBPDVG3g1BQ8hyU1UcAbvHH.jpg?size=200x0&quality=96&crop=56,6,200,200&ava=1"><br><br><br>
        <a href=" {% url 'polls:index' %} "><button>Следующая страница ></button></a>
    </div>


    <script src="js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
</html>
